caption{
    color: blue;
    font-size: 70px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table{
    width: 100%;
    border: 5px solid rgb(74, 132, 240);
}
th{
    border: 3px solid rgb(58, 21, 169);
    text-align: center;
}
td{
    border: 3px solid rgb(62, 82, 230);
    text-align: center;
}
img{
    width: 8% height="8%";
}