body{

    background: rgb(255,125,63);
    background: linear-gradient(277deg, rgba(255,125,63,1) 14%, rgba(4,203,252,1) 45%, rgba(42,142,195,1) 98%);
    display: block;
    margin: 8px;
}
caption{
    color: rgb(247, 31, 31);
    font-size: 70px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.encabezado{
    align-content: flex-end;
    width: 100%;
    border: 3px solid rgb(194, 229, 249);
}
th{
    border: 3px solid rgb(58, 21, 169);
    text-align: center;
}
td{
    border: 3px solid rgb(62, 82, 230);
    text-align: center;
}
.menu{
    width: 20%;
}
.contenido{
    width: 100%;

}
img{
    width: 75%;
    height: 75%;
}
