html{
    font-size: 1%%;
    line-height: 1,5%;
} 
body{

    background: rgb(255,125,63);
    background: linear-gradient(277deg, rgba(255,125,63,1) 14%, rgba(4,203,252,1) 45%, rgba(42,142,195,1) 98%);
    display: block;
    margin: 8px;
}
caption{
    color: rgb(247, 31, 31);
    font-size: 70px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.encabezado{
    align-content: flex-end;
    width: 100%;
    border: 3px solid rgb(194, 229, 249);
}
th{
    border: 3px solid rgb(58, 21, 169);
    text-align: center;
}
td{
    border: 3px solid rgb(62, 82, 230);
    text-align: center;
}
img{
    width: 8% height="8%";
}
caption{
    background-color: rgb(11, 168, 147)5, 1, 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
    width: 50%;
    height: 50%;
}
td{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: darkcyan;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: salmon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
tr{
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
}
div{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 8%;
    height: 8%;
}